html {
    background-color: #303d53;
    font-family: 'AppleSDGothicNeoH';
}

.one {
    font-size: 59px;
    font-style: normal;
    text-align: center;
    color: #ffffff;
    margin-top: 130px;
    margin-bottom: 5px;
}

#three {
    margin-top: 130px;
    margin-bottom: 25px;
    text-align: center;
    font-family: 'AppleSDGothicNeoUL';
}

#four {
    margin-top: 90px;
    margin-bottom: 25px;
    text-align: center;
    font-family: 'AppleSDGothicNeoUL';
}

.name {
    border-top: rgba(0, 0, 0, 0) !important;
    border-left: rgba(0, 0, 0, 0) !important;
    border-right: rgba(0, 0, 0, 0) !important;
    border-bottom: 2px solid green;
}

.input {
    background-color: rgba(0, 0, 0, 0);
    width: 20%;
    height: 55px;
    font-size: 18px;
    color: white;
}

.input:focus {
    outline: none;
}

#five {
    border: 1px solid #ffffff;
    padding: 15px;
    width: 350px;
    text-align: center;
    background-color: #ffffff;
    margin-top: 70px;
    margin: auto;
    margin-bottom: 50px;
    letter-spacing: 5px;
    font-size: 20px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.51;
    letter-spacing: 14.77px;
    color: #303d53;
    transition: all .3s cubic-bezier(0.165, 0.84, 0.44, 1);
    cursor: pointer;
}

#five:hover, #six:hover {
    background-color: #303d53;
    color: white;
}

#six {
    border: 1px solid #ffffff;
    padding: 15px;
    width: 350px;
    text-align: center;
    background-color: #ffffff;
    margin: auto;
    letter-spacing: 5px;
    font-size: 20px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.51;
    letter-spacing: 14.77px;
    color: #303d53;
    transition: all .3s cubic-bezier(0.165, 0.84, 0.44, 1);
    cursor: pointer;
}

.footer {
    font-size: 2px;
    margin-top: 150px;
    text-align: center;
    color: #ffffff;
}