@font-face {
    font-family: 'AppleSDGothicNeoB';
    src: url('./font/AppleSDGothicNeoB');
}
@font-face {
    font-family: 'AppleSDGothicNeoB';
    src: url('./font/AppleSDGothicNeoEB');
}
@font-face {
    font-family: 'AppleSDGothicNeoH';
    src: url('./font/AppleSDGothicNeoH');
}
@font-face {
    font-family: 'AppleSDGothicNeoL';
    src: url('./font/AppleSDGothicNeoL');
}
@font-face {
    font-family: 'AppleSDGothicNeoM';
    src: url('./font/AppleSDGothicNeoM');
}
@font-face {
    font-family: 'AppleSDGothicNeoR';
    src: url('./font/AppleSDGothicNeoR');
}
@font-face {
    font-family: 'AppleSDGothicNeoSB';
    src: url('./font/AppleSDGothicNeoSB');
}
@font-face {
    font-family: 'AppleSDGothicNeoT';
    src: url('./font/AppleSDGothicNeoT');

}
@font-face {
    font-family: 'AppleSDGothicNeoUL';
    src: url('./font/AppleSDGothicNeoUL');
}

* {
    font-family: "AppleSDGothicNeoSB";
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}

html {
    width: 100%;
    height: 100%;
    margin: 0 0 0 0;
}
body {
    width: 100%;
    height: 100%;
    margin: 0 0 0 0;
    background-color: #303d53;
}
.contents-wrap {
    width: 100%;
    height: 100%;
}
.contents-wrap .header {
    width: 100%;
    height: 50px;
}
.contents-wrap .header .icon_left {
    width: 300px;
    margin-top: 30px;
    margin-left: -20px;
}
.contents-wrap .header .icon_left .icons {
}   
.contents-wrap .header .icon_left .icons li {
    display: inline-block;
    margin-left: 20px;
}
.contents-wrap .header .icon_left .icons li img {
    width: 30px;
}
.contents-wrap .header .logo_cover {
    width: auto;
    height: auto;
}
.contents-wrap .header .logo_cover .logo {
    height: 50px;
    width: auto;
    margin: auto;
    display: inherit;
    margin: auto;
}

.contents-wrap .cover_form {
    width: 600px;
    height: 650px;
    /* background-color: black; */
    margin: auto;
    margin-top: 200px;
}
.contents-wrap .cover_form .form_register {
    width: 100%;
    height: 100%;
}
.contents-wrap .cover_form .form_register .info_necess {
    
}
.contents-wrap .cover_form .form_register .info_select {
    display: none;
    opacity: 0;
}
.contents-wrap .cover_form .form_register .cover_input {
    width: 600px;
    height: 50px;
    position: relative;
    top: 20px;
    /* background-color: black; */
    /* border-image: linear-gradient(to left, #16cede, #16e7ba);
    border-style: solid;
    border-image-slice: 0 0 0.5; */
    /* border-image-width: 0 0 0  */
    /* border-top: none;
    border-left: none;
    border-right: none; */
}
.contents-wrap .cover_form .form_register .text {
    color: white;
    font-size: 20px;
    letter-spacing: 10px;
    position: relative;
    width: 110px;
}
.contents-wrap .cover_form .form_register .input {
    background-color: rgba(0, 0, 0, 0);
    border-color: rgba(0, 0, 0, 0);
    font-size: 15px;
    position: relative;
    left: 120px;
    top: -45px;
    width: 480px;
    color: white;
    font-weight: 300;
}
.contents-wrap .cover_form .form_register .input:focus {
    outline: none;
}
.contents-wrap .cover_form .form_register .line_bottom {
    transition: all .5s ease;
    position: relative;
    top: -30px;
    width: 100%;
    height: 1px;
    background-image: linear-gradient(to left, #16cede, #16e7ba);
}
.contents-wrap .cover_form .form_register .line_bottom_before {
    transition: all .5s ease;
    position: relative;
    top: -30px;
    width: 100%;
    height: 1px;
    background-image: linear-gradient(to left, #de1616, #e79e16);
}
.contents-wrap .cover_form .form_register .line_bottom_after {
    transition: all .5s ease;
    position: relative;
    top: -30px;
    width: 100%;
    height: 1px;
    opacity: 0;
    background-image: linear-gradient(to left, #16cede, #16e7ba);
}
.err_message {
    transition: all .5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    text-align: center;
    position: relative;
    top: -55px;
    float: right;
    font-size: 5px;
    color: white;
    width: 60px;
    height: 12px;
    border-radius: 5px;
    padding: 10px;
    /* border: 1px solid #de1616; */
    background-image: linear-gradient(to left, #a51414, #b37912);
}