@font-face {
    font-family: 'AppleSDGothicNeoH';
    src: url('../font/AppleSDGothicNeoH.ttf');
}
@font-face {
    font-family: 'AppleSDGothicNeoSB';
    src: url('../font/AppleSDGothicNeoSB.ttf');
}
@font-face {
    font-family: 'AppleSDGothicNeoM';
    src: url('../font/AppleSDGothicNeoM.ttf');
}
@font-face {
    font-family: 'AppleSDGothicNeoUL';
    src: url('../font/AppleSDGothicNeoUL.ttf');
}

@font-face {
    font-family: 'AppleSDGothicNeoB';
    src: url('../font/AppleSDGothicNeoB.ttf');
}

@font-face {
    font-family: 'AppleSDGothicNeoEB';
    src: url('../font/AppleSDGothicNeoEB.ttf');
}


body{
  width:100%;
  overflow-x:hidden;
  margin:0;
  padding:0;
}

a {
    text-decoration-line:none;
}

#nav {
    background-color: #232b39;
    padding: 0 65px;
    height:122px;
}
.logo, .navbar {
    display: inline-block;
}
.logo {
    margin: 1vh 0;
    width: 200px;
    margin-top:25.9px; /* header 부분 위치 조정 */
}
.navbar {
    float: right;
    margin: auto 0;
    margin-top:25.9px; /* header 부분 위치 조정 */
}
.blank{
    display:inline-block;
    vertical-align:middle;
    width:0;
    height:80px;
    overflow:hidden;
}

.navbar ul {
    list-style:none;
    display:inline-block;
    vertical-align:middle;
}

.navbar ul li {
    display: inline-block;
    font-size: 18px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.19;
    letter-spacing: 2.27px;
    margin-right: 1vw;

}

.navbar ul li a {
    color: #fff;
    position: relative;
}

.navbar ul li a:hover:after {
    content: '';
    position:absolute;
    bottom: -25%;
    left: 0%;
    right: 0%;
    height: 3px;
    background: linear-gradient(to left, #16cede, #16e7ba);;
    display:block;
}

.navbar ul li .order::after {
    content: '';
    position:absolute;
    bottom: -25%;
    left: 0%;
    right: 0%;
    height: 3px;
    background: linear-gradient(to left, #16cede, #16e7ba);;
    display:block;
}






.bold_text{
  font-family: 'AppleSDGothicNeoB';
  font-size: 29px;
  letter-spacing: 5.8px;
  color: #303d53;
}
.slim_text{
  font-family: 'AppleSDGothicNeoUL';
  font-size: 29px;
  color: #616161;
  letter-spacing: 3.48px;
}
.simple_text{
  margin-left: 60px;
}
.middle_text{
  font-family: 'AppleSDGothicNeoB';
  font-size: 29px;
  letter-spacing: 2.9px;
  color: #707070;
}

/* 주문상품 */
#bar{
  width: 10.3px;
  height: 49.6px;
  background-image: linear-gradient(12deg, #16cede, #16e7ba);
  margin-top: 57px;
  margin-left: 84.5px;
  float: left;
}
.big_box{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.content_name{
  width: 100%;
  height: 145px;
}
#bar_text{
  width: 277px;
  height: 67px;
  font-family: 'AppleSDGothicNeoEB';
  font-size: 42px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.43;
  letter-spacing: 7.39px;
  text-align: left;
  margin-top: 57px;
  margin-left: 22.3px;
  color: #303d53;
  float: left;
}
.list_name{
  font-family: 'AppleSDGothicNeoEB';
  font-size: 40px;
  line-height: 1.43;
  letter-spacing: 1px;
  text-align: left;
  color: #616161;
}
.order_list{
  width: 1682px;
  height: 70px;
  background-color: rgba(245,245,245,0.5);
  display: flex;
  align-items: center;
  border-top: 2px solid #616161;
  border-bottom:2px solid #616161;
}
.number_box{
  width: 1682px;
  height: 70px;
  text-align: left;
}
.list_text{
  font-family: 'AppleSDGothicNeoEB';
  font-size: 29px;
  line-height: 1.45;
  letter-spacing: 0.73px;
  color: #616161;
}
.order_list .list_text:nth-child(1){
  margin-left: 291px;
}
.order_list .list_text:nth-child(2){
  margin-left: 485.3px;
}
.order_list .list_text:nth-child(3){
  margin-left: 121.2px;
}
.order_list .list_text:nth-child(4){
  margin-left: 149px;
}
.order_list .list_text:nth-child(5){
  margin-left: 215px;
}
.item_box{
  border-bottom: 2px solid #616161;
}
.order_item{
  width:1682px;
  height:155.75px;
  display: flex;
  align-items: center;
  font-family: 'AppleSDGothicNeoM';
  font-size: 24px;
}
.item{
  height: 160px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-right:1.5px solid rgba(0,0,0,0.1);
}
.item_name{
  width: 480px;
  margin-left: 42.5px;
}
.item_count{
  margin-left: 150.5px;
  width:140px;
  border-left: 1.5px solid rgba(0,0,0,0.1);
}
.item_price{
  width: 200px;

}
.item_sale{
  width:199px;
}
.item_all{
  width:344px;
}
.order_price{
  width:1682px;
  height: 49px;
  text-align: right;
  margin-top: 25.5px;
  font-family: 'AppleSDGothicNeoB';
}
#small{
  display: inline;
  font-size: 24px;
  margin-right: 14px;
}
#big{
  display: inline;
  font-size: 41px;
  margin-right: 13.8px;
}


/* 2.장바구니 목록 */
.basket_list{
  width: 1682px;
  height: 70px;
  background-color: rgba(245,245,245,0.5);
  display: flex;
  align-items: center;
  border-top: 2px solid #616161;
  border-bottom:2px solid #616161;
}
.basket_list .list_text:nth-child(1){
  margin-left: 68.8px;
}
.basket_list .list_text:nth-child(2){
  margin-left: 603px;
}
.basket_list .list_text:nth-child(3){
  margin-left: 452.6px;
}
.basket_list .list_text:nth-child(4){
  margin-left: 165.7px;
}
.basket_item{
    width:1682px;
    height:155.75px;
    display: flex;
    align-items: center;
    font-family: 'AppleSDGothicNeoM';
    font-size: 24px;
}
.basket_item .check{
  margin-left: 97.5px;
  margin-right: 175.7px;
}
.basket{
  height: 160px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-right:1.5px solid rgba(0,0,0,0.1);
}
.basket_name{
  margin-left: 121.8px;
  width: 480px;
}
.basket_count{
  width: 170px;
  margin-left: 193.5px;
  border-left:1.5px solid rgba(0,0,0,0.1);
}
.basket_price{
  width:254px;
  border-right: none;
}

/* 주문자 정보 */

.order_info{
  width: 1682px;
  height: 63.8px;
  color: #303d53;
  font-family: 'AppleSDGothicNeoB';
  font-size: 29px;
  margin-top: 43px;
  text-align: left;
  border-bottom:2px solid #616161;
}
.user{
  width:1682px;
  margin-top: 30.2px;
}
.user:nth-child(5){
  padding-bottom: 30.1px;
  border-bottom:2px solid #616161;
}
.ship{
  display: flex;
  align-items: center;
  width: 1682px;
  height: 104.6px;
  border-bottom:2px solid #616161;
}
.address{
  width: 1682px;
  border-bottom:2px solid #616161;
}
.address .top{
  margin-top: 42.1px;
  margin-bottom: 36px;
  display: flex;
  align-items: center;
}
.address .bottom{
  display: flex;
  align-items: center;
  margin-left: 116px;
  margin-bottom: 33.5px;
}
.address .top .bold_text{
  margin-right: 60px;
}
.simple_location{
  margin-left: 20px;
  display: flex;
  align-items: center;
}
.semi_local{
  margin-left: 20px;
}
#find_local{
  margin-left: 26px;
  width: 128.6px;
  height: 40.1px;
  border-radius: 115px;
  background-color: #707070;
  font-family: 'AppleSDGothicNeoSB';
  font-size: 16px;
  letter-spacing: 6.35px;
  display: flex;
  justify-content: center;
  color: #ffffff;
}


.type_name{
  margin-right: 60px;
}
/* 라디오버튼 */
.box-radio-input input[type="radio"]{display:none;}
.box-radio-input input[type="radio"] + div{
    border: solid 2px #707070;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 26px;
    height: 26px;
    cursor:pointer;
    margin-right: 12px;
}
.box-radio-input input[type="radio"] + div>div{
    border-radius: 50%;
    width: 16px;
    height: 16px;
}
.box-radio-input input[type="radio"]:checked + div>div{
    background-color: #707070;
}
/* 체크박스 버튼 */
.check input[type="checkbox"]{display:none;}
.check input[type="checkbox"] + div{
    border: solid 1px #707070;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 45px;
    height: 45px;
    cursor:pointer;
}
.check input[type="checkbox"]:checked + div{
    background:url('../img/check.png') no-repeat;
    background-size: cover;
}
.radio{
  display: flex;
  align-items: center;
}
.radio_text{
  margin-right: 50px;
}

.want{
  width: 1682px;
  border-bottom:2px solid #616161;
  margin-bottom: 107.4px;
}
.want_text{
  margin-top: 42.5px;
  margin-bottom: 20.7px;
}
.want_list{
  background: url('../img/selector.png') no-repeat 97% 50%;
  width: 724px;
  padding-left: 20px;
  height: 65.5px;
  border: solid 1px #707070;
  margin-bottom: 25.7px;
}
select{
  -webkit-appearance: none;
}

/* 결제 정보 */

.choose_card{
  width: 1682px;
  height: 105.7px;
  border-bottom:2px solid #616161;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.card_text{
  margin-right: 57px;
}
.card_list{
  background: url('../img/selector.png') no-repeat 97% 50%;
  padding-left: 20px;
  width: 342px;
  height: 65.5px;
  font-family: 'AppleSDGothicNeoUL';
  font-size: 29px;
  letter-spacing: 3.48px;
  color: #616161;
}
.installment{
  width: 1682px;
  height: 105.7px;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.day_text{
  margin-right: 57px;
}
.day_list{
  background: url('../img/selector.png') no-repeat 97% 50%;
  padding-left: 20px;
  width: 342px;
  height: 65.5px;
  font-family: 'AppleSDGothicNeoUL';
  font-size: 29px;
  letter-spacing: 3.48px;
  color: #616161;
}
.cash_ship{
  display: flex;
  align-items: center;
  width: 1682px;
  margin-top: 41.9px;
}
.bill_use{
  margin-left: 209px;
  margin-top: 31px;
  display: flex;
  align-items: center;
}
.phone{
  margin-left: 209px;
  margin-top: 31.2px;
  margin-bottom: 17px;

}
.phone_first{
  margin-left: 41px;
  background: url('../img/selector.png') no-repeat 95% 50%;
  padding-left: 20px;
  width: 140.9px;
  height: 65.5px;
  font-family: 'AppleSDGothicNeoUL';
  font-size: 29px;
  letter-spacing: 3.48px;
  color: #616161;
}
input{text-align: center;}
.phone_list{
  background: url('../img/selector.png') no-repeat 95% 50%;
  padding-left: 20px;
  width: 342px;
  height: 65.5px;
  font-family: 'AppleSDGothicNeoUL';
  font-size: 29px;
  letter-spacing: 3.48px;
  color: #616161;
}
.number{
  width: 106.9px;
  height: 60px;
  border: solid 1px #707070;
  font-family: 'AppleSDGothicNeoUL';
  font-size: 29px;
  letter-spacing: 3.48px;
  color: #616161;
}
.ceo_number{
  margin-left: 209px;
  margin-top: 31.2px;
  margin-bottom: 17px;
  height:65.5px;
  display: flex;
  align-items: center;
  flex-direction: row;
}
.ceo_number input{
  font-family: 'AppleSDGothicNeoUL';
  font-size: 29px;
  letter-spacing: 3.48px;
  color: #616161;
}
.first_ceo_n{
  width: 106.9px;
  height: 60px;
  border: solid 1px #707070;
  margin-left: 28px;
}
.second_ceo_n{
  width: 106.9px;
  height: 60px;
  border: solid 1px #707070;
}
.third_ceo_n{
  width: 140.9px;
  height: 60px;
  border: solid 1px #707070;
}
/* 약관동의  */

.agreement{
  width: 1682px;
  display: flex;
  align-items: center;
  padding-top: 41.9px;
  border-top:2px solid #616161;
}
.agreement_text{
  margin-left: 35px;
}
.check_text{
  margin-top: 29.8px;
  margin-bottom: 101.9px;
  width: 1682px;
}
#pay_button{
  width: 538px;
  height: 83px;
  background-color: #303d53;
  font-family: 'AppleSDGothicNeoH';
  letter-spacing: 31.5px;
  font-size: 35px;
  color:#fff;
  margin-bottom: 85.4px;
}
/* footer부분 */
footer{
  width: 100%;
  height: 378px;
  background-color: #232b39;
}
footer div{
  margin-left: 105px;
  color: #ffffff;
}
.foot_name{
  width: 462px;
  height: 46px;
  font-family: 'AppleSDGothicNeoEB';
  font-size: 25px;
  letter-spacing: 2.5px;
}
.foot_local{
  margin-top: 22px;
  width: 575px;
  height: 38px;
  font-family: 'AppleSDGothicNeoUL';
  font-size: 21px;
}
.foot_info{
  width: 1408px;
 height: 25px;
 font-family: 'AppleSDGothicNeoUL';
 font-size: 21px;
 letter-spacing: 2.1px;
}
.foot_line{
  width: 1682px;
  height: 41.5px;
  border-bottom: 1px solid #fff;
}
.foot_copy{
  width: 758px;
 height: 25px;
 font-family: 'AppleSDGothicNeoUL';
 font-size: 21px;
 margin-top: 33.5px;
}


/* 결제완료 페이지 */
.end_text{
  margin-top: 134.4px;
  margin-bottom: 85.1px;
  width: 1508.2px;
  height: 92px;
  font-family: 'AppleSDGothicNeoH';
  font-size: 77px;
  letter-spacing: 32.49px;
  letter-spacing: 11.4px;
  color: #303d53;
}
.buy_list{
  border-top: 2px solid #303d53;
  border-bottom: 2px solid #303d53;
  width: 1508.2px;
  height: 63.7px;
  display: flex;
  align-items: center;

  font-family: 'AppleSDGothicNeoEB';
  font-size: 25px;
  letter-spacing: 0.63px;
  color: #303d53;
}
.buy_opt:nth-child(1){margin-left: 260.7px;}
.buy_opt:nth-child(2){margin-left: 435.6px;}
.buy_opt:nth-child(3){margin-left: 110.5px;}
.buy_opt:nth-child(4){margin-left: 135.5px;}
.buy_opt:nth-child(5){margin-left: 194.7px;}

.buy_item{
  width:1508.2px;
  height:139.55px;
  display: flex;
  align-items: center;
  color: #303d53;
  font-family: 'AppleSDGothicNeoM';
  font-size: 21px;
  letter-spacing: 2.77px;
}
.buy_name{
  width: 420px;
  margin-left:38.2px;
}
.buy_content{
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-left: 1px solid rgba(0,0,0,0.1);
}
.buy_count{
  margin-left: 145.9px;
  width:128.3px;
}
.buy_price{
  width: 179.5px;
}
.buy_sale{
  width: 179.5px;
}
.buy_all{
  width: 297.1px;
}
.buy_cost{
  width:1508.2px;
  text-align: right;
  margin-top: 15.7px;
}
.buy_cost .small{
  display: inline;
  margin-right: 13.4px;
  font-family: 'AppleSDGothicNeoEB';
  font-size: 39px;
  letter-spacing: 5.15px;
  color: #303d53;
}
.buy_cost .big{
  display: inline;
  font-family: 'AppleSDGothicNeoEB';
  font-size: 66px;
  letter-spacing: 8.71px;
  color: #303d53;
}
.button_box{
  width:1508.2px;
  margin-top: 54.5px;
  text-align: center;
}
.button_box button{
  width: 430.4px;
  height: 71.5px;
  font-family: 'AppleSDGothicNeoB';
  font-size: 31px;
  letter-spacing: 20.68px;
  text-align: center;
  border:none;
  margin-bottom: 83px;
}
#check_order{
  background-color: #394863;
  color: #ffffff;
  margin-right: 106.3px;
}
#keep_shop{
  background-color: #f5f5f5;
  color: #394863;
}
