.content_line{
  position:absolute;
  top:645px;

  width: 10.3px;
  height: 56.6px;
  background-image: linear-gradient(11deg, #16cede, #16e7ba);
}


.right_content p{
  position:relative;
  top:80px;
  z-index: 0;

  width: auto;
  height: 76px;
  font-family: 'AppleSDGothicNeoEB', serif;
  font-size: 63px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.44;
  letter-spacing: 4.03px;
  /* text-align: left; */
  color: #303d53;
}


.items{
  position:relative;
  display:block;
  top:174px;
  margin:0 100px;

  min-width:900px;
  width:auto;
  height:364px;
  margin-bottom:174px;

  /* border:2px solid gray; */
}

.items h1{
  font-family: 'AppleSDGothicNeoEB';
  font-size: 34px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.44;
  letter-spacing: 2.18px;
  text-align: right;
  color: #303d53;
}



.items p{
  font-family: 'AppleSDGothicNeoR';
  font-size: 20px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 2.9;
  letter-spacing: 1.72px;
  color: #707070;
}

.first_part{
  text-align:right;
  padding-right:6%;
  left:84.5px;
}

.second_part{ /* 여기까지진 한데, 아직임.*/
  text-align:left;
  position:relative;
  left:0;
  padding-right:600px;

}

.items_pic{
  height:100%;
  width:546px;
  background-size:contain;
  z-index:2;
  position:relative;
}

#Item1_Pic{
  float:left;
  background-image:url("../../img/이미지 19.png");
  z-index:5;
}

#Item2_Pic{
  float:right;
  background-image:url("../../img/image 20.png");
}

#Item3_Pic{
  float:left;
  background-image:url('../../img/image 21.png');
}

#Item3 h1 span::after{
  content:'';
  position:absolute;
  top:-4.5%;
  width: 11.5px;
  height: 11.5px;
  border-radius: 100px;
  background-image: linear-gradient(233deg, #16cede, #16e7ba);
}

/* Design */

.circle{
  background-image: linear-gradient(to bottom, #16cede, #16e7ba);
  border-radius: 100px;
  position:absolute;
}

.circle_blank{
  background-color:white;
  border-radius: 100px;
}

#Top_Cir_blank{
  width:70px;
  height:70px;
}

#Top_Cir{ /* location 짜기전까지 함.*/
  top:775px;
  left:1050px;
  z-index: 1;

  width: 84.2px;
  height: 84.2px;

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

#Top_Cir2{
  top:745px;
  left:1140px;
  z-index: 1;

  width:32px;
  height:32px;
}

#Top_Cir3{
  top:1650px;
  left:1200px;
  z-index:4;

  width:107.9px;
  height:107.9px;
}

#Top_Cir4{
  top:1750px;
  left:1330px;
  z-index:1;

  width:25px;
  height:25px;
}
