*{
  margin:0;
  padding:0;
}

body{
  height:2803px;
  width:100%;
}

body {
    overflow-x:hidden;
}

a {
    text-decoration-line:none;
}

#nav {
    background-color: #232b39;
    padding: 0 65px;
    height:122px;
}

.logo, .navbar {
    display: inline-block;
}

.logo {
    margin: 1vh 0;
    width: 200px;
    margin-top:25.9px; /* header 부분 위치 조정 */
}

.navbar {
    float: right;
    margin: auto 0;
    margin-top:25.9px; /* header 부분 위치 조정 */
}

.blank{
    display:inline-block;
    vertical-align:middle;
    width:0;
    height:80px;
    overflow:hidden;
}

.navbar ul {
    list-style:none;
    display:inline-block;
    vertical-align:middle;
}

.navbar ul li {
    display: inline-block;
    font-size: 18px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.19;
    letter-spacing: 2.27px;
    margin-right: 1vw;

}

.navbar ul li a {
    color: #fff;
    position: relative;
}

.navbar ul li a:hover:after {
    content: '';
    position:absolute;
    bottom: -25%;
    left: 0%;
    right: 0%;
    height: 3px;
    background: linear-gradient(to left, #16cede, #16e7ba);;
    display:block;
}

.navbar ul li .community::after {
    content: '';
    position:absolute;
    bottom: -25%;
    left: 0%;
    right: 0%;
    height: 3px;
    background: linear-gradient(to left, #16cede, #16e7ba);;
    display:block;
}



/* ------------------ 헤더와 content 사이 경계 부분 -------------- */

.start_content{
  min-width: 1920px;
  height: 428px;
  opacity: 0.47;
  background-image: url("../../img/background_assertive.png");
}

.start_text{
  width:520px;
  height:130px;
  position:relative;
  top:240px;
  left:70.5px;

}

#start_box{
  float:left;
  margin: 17px 0 0 0px;
  width: 13.9px;
  height: 49.4px;
  background-image: linear-gradient(197deg, #16cede, #16e7ba);
}


#start_textCom{
  float:right;
  margin-right:40px;

  width: 442px;
  height: 84px;
  font-family: 'AppleSDGothicNeoEB';
  font-size: 70px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.44;
  letter-spacing: 4.48px;
  text-align: left;
  color: #ffffff;
}

.start_text div:nth-child(3){
  color:white;
}



/* --------------------content ------------------ */

.content_container{
  width:100%;
  height:1875px;
  display:flex;
  flex-direction: row;
}

.left_content{
  width:462px;
  height:100%;
  background-color:white;
  box-shadow: 2px 0 8px 0 rgba(0, 0, 0, 0.09);
  z-index:2;
}

.left_menu{
  margin: 89px 124px;
}

.left_menu p{
  width: 214px;
  height: 41px;
  font-family: 'AppleSDGothicNeoEB';
  font-size: 34px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.44;
  letter-spacing: 2.18px;
  text-align: left;
  color: #303d53;
}

.left_menu #MenuBox{
  z-index:0;
  width: 42.4px;
  height: 3.9px;
  background-image: linear-gradient(265deg, #16cede, #16e7ba);
}

#MenuBox_line{
  position:relative;
  bottom:3px;
  z-index:-1;

  width:216px;
  height:1.4px;
  background-color: #16e7ba;
}

.left_menu ul{
  list-style: none;
}

.left_menu ul li {
  padding: 18.3px 0;
  width: auto;
  height: 23px;
}

.left_menu ul li a{
  font-family: 'AppleSDGothicNeoSB'; /* 원래 NeoM 폰트를 사용해야 하는데 없어서 대체*/
  font-size: 19px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.32;
  letter-spacing: 1.22px;
  text-align: left;
  color: #303d53;
  text-decoration: none;
}

.right_content{
  width:1458px;
  height:100%;
  background-color:white;
}

/* ----------------- footer ------------------- */

.footer{
  width:100%;
  height:378px;
  background-color:#232b39;

  /* display:flex;
  flex-direction:row;
  justify-content: center; */
}

.footer_text_containter{
  position:relative;
  margin:0 120px;

  top:74px;
  min-width:1300px;
  height:232px;
}

.footerline{
  height:0.6px;
  background-color:white;
  width:100%;
  margin-bottom:24px;
}

.footer_text_containter p{
  font-family: 'AppleSDGothicNeoUL', sans-serif;
  font-size: 21px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.38;
  letter-spacing: normal;
  text-align: left;
  color: #ffffff;

  padding:0 0 30px 0;
}
