<!DOCTYPE html>
<html lang="en">

<head>
    <% include ./head_formal %>
    <title>주문</title>
    <link rel="stylesheet" href="../css/order/skeleton.css">
    <link rel="stylesheet" href="../css/order/fontawesome-free-5.12.0-web/css/fontawesome.min.css">
    <link rel="stylesheet" media="all and (min-width:1025px)" href="../css/order/web_style.css">
    <link rel="stylesheet" media="screen and (min-width:768px) and (max-width:1024px)" href="../css/order/tablet_style.css">
    <link rel="stylesheet" media="screen and (max-width: 767px)" href="../css/order/modile_style.css">
</head>

<body>
    <% include ./nav_formal %>

    <div id="main">
        <div class="container">
            <div class="four columns">
                <div id="wrapper">
                    <div id="slider-wrap">
                        <ul id="slider">
                            <li>
                                <img src="../img/assertive.jpg">
                            </li>
                            <li>
                                <img src="../img/assertive2.png">
                            </li>
                            <li>
                                <img src="../img/assertive.jpg">
                            </li>
                        </ul>

                        <div class="btns" id="next"><i class="fas fa-arrow-right"></i></div>
                        <div class="btns" id="previous"><i class="fas fa-arrow-left"></i></div>

                        <div id="pagination-wrap">
                            <ul>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>

            <div class="eight columns">
                <div id="product">
                    <% for (var i = 0; i < prod.length; i++) { %>
                        <div class="card">
                            <img class="product_image" src="../img/image1.jpg" alt="">
                            <p class="delivery_charge">배송비 | <%= prod[i].deliverCharge%>원</p>
                            <p class="product_name"><%= prod[i].name %></p>
                            <p class="price"><%= prod[i].price%> 원</p>
                            <button class="order_button">
                                <p class="order_text">주문하기</p>
                            </button>
                            <button class="shopping_basket">
                                <p class="shopping_basket_text" onclick="functionCart('<%= prod[i].prodid%>', 'test');">장바구니</p>
                            </button>
                        </div>
                    <% } %>

                    <div id="confirm">
                        <div class="close"><i class="fa fa-times"></i></div>
                        <div class="message"><img src="../img/shopping-cart-button.png" alt=""><p style="display: unset;"></p></div>
                        <br>
                        <button class="yes">장바구니 확인하기</button>
                    </div>
                </div>

            </div>
        </div>
    </div>

    <% include ./footer_formal %>
    <script src="../js/order/index.js"></script>

</body>

</html>