<div id="footer">
    <div><span class="footer_1">
            한국디지털미디어고등학교 ASSERTIVE
        </span>
    </div>
    <div style="margin-top:22px; line-height:1.38;">
        <span>
            경기도 안산시 단원구 사세충열로 94 한국디지털미디어고등학교
        </span>
    </div>
    <div style="margin-top:5px; line-height: 2.43; letter-spacing: 2.1px;">
        <span>
            한국디지털미디어고등학교 ASSERTIVE홈페이지 / 개발 : ASSERTIVE 판매시스템부 / 디자인 : 김수겸 / 지도교사 : 함지연
        </span>
    </div>
    <hr style="margin:20px 0px; color:#232b39">
    <div style="margin-top:33.5px; line-height: 1.38;">
        <span>
            Copyright © 2019 Korea Digital Media High School ASSERTIVE. All Rights Reserved.
        </span>
    </div>
</div>

<style>
#footer {
    display:block;
    padding: 74px 105px;
    background-color: #232b39;
    font-family: 'AppleSDGothicNeoUL';
    font-size:18px;
    text-align: left;
    color: #ffffff;
}

.footer_1 {
    font-family: 'AppleSDGothicNeoEB';
    font-size: 25px;
    line-height: 2.04;
    letter-spacing: 2.5px;
}
</style>