<div id="nav">
    <img src="../img/logo.png" alt="" class="logo">
    <div class="navbar">
        <span class="blank"></span>
        <ul>
            <li><a href="/community" class="community">COMMUNITY</a></li>
            <li><a href="#" class="gallery">GALLERY</a></li>
            <li><a href="/order" class="order">주문</a></li>
            <li><a href="#" class="cart">장바구니</a></li>
            <% if (status == true) { %>
                <li><a class="login" id="logout" style="cursor: pointer;">로그아웃</a></li>
            <% } else { %>
                <li><a href="/login" class="login">로그인</a></li>
            <% } %>
        </ul>
    </div>
</div>