@font-face {
    font-family: 'AppleSDGothicNeoSB';
    src: url('../font/AppleSDGothicNeoSB.ttf');
}

@font-face {
    font-family: 'AppleSDGothicNeoUL';
    src: url('../font/AppleSDGothicNeoUL.ttf');
}

@font-face {
    font-family: 'AppleSDGothicNeoR';
    src: url('../font/AppleSDGothicNeoR.ttf');
}

@font-face {
    font-family: 'AppleSDGothicNeoB';
    src: url('../font/AppleSDGothicNeoB.ttf');
}

@font-face {
    font-family: 'AppleSDGothicNeoEB';
    src: url('../font/AppleSDGothicNeoEB.ttf');
}

@font-face {
    font-family: 'AppleSDGothicNeoL';
    src: url('../font/AppleSDGothicNeoL.ttf');
}

@font-face {
    font-family: 'AppleSDGothicNeoH';
    src: url('../font/AppleSDGothicNeoH.ttf');
}

@font-face {
    font-family: 'AppleSDGothicNeoM';
    src: url('../font/AppleSDGothicNeoH.ttf');
}

@font-face {
    font-family: 'AppleSDGothicNeoR';
    src: url('../font/AppleSDGothicNeoH.ttf');
}

@font-face {
    font-family: 'AppleSDGothicNeoT';
    src: url('../font/AppleSDGothicNeoT.ttf');
}