* {
    margin:0px;
    padding:0px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    word-break: keep-all;
}

html {
    width:100vw;
    overflow-x:hidden;
}

a {
    color:inherit;
    text-decoration-line:none;
}

#background {
    z-index:-1;
}
.background {
    position:relative;
    z-index:-1;
}

#bg_cover {
    width:100%;
    padding-top:56.25vw;
    opacity: 0.54;
    background-color: #111927;
}

.contents {
    display:block;
    height:auto;
    z-index:1;
}

.header {
    display:block;
}
#footer {
    z-index:0;
}